APP_ENV=production
GOOGLE_ACCOUNTS_BASE_URL=https://accounts.google.com
REDIRECT_URI=urn:ietf:wg:oauth:2.0:oob
GOOGLE_CLIENT_ID=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CLIENT_SECRET=

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=me
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=me@example.com
API_TOKEN=
API_ENDPOINT=
