cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
cssselect==1.1.0
cssutils==1.0.2
idna==2.10
lxml==4.6.1
premailer==3.7.0
python-decouple==3.3
python-dotenv==0.15.0
requests==2.25.0
urllib3==1.26.2
yagmail==0.14.245
